{{! with contextual components }}
{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-button classNames="hide-gt-sm" iconButton=true onClick=(action leftSideBarOpen) }}
      {{paper-icon "reorder"}}
    {{/paper-button}}

    {{#link-to 'index'}}
      {{#paper-button}}
        <h2>Shopka</h2>
      {{/paper-button}}
    {{/link-to}}
    <h2></h2>
    <span class="flex"></span>


    {{authentication.log-in-out}}
  {{/toolbar.tools}}
{{/paper-toolbar}}
{{yield}}
